.poster-wrapper {
  width: 100%;
  height: 300px; /* desktop default */
  overflow: hidden;
  position: relative;
  margin-top: -70px; /* pull under navbar */
  z-index: -1;
}

.poster-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures the image fills the div */
}
/* Laptop */
@media (max-width: 1366px) {
  .poster-wrapper {
    height: 500px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .poster-wrapper {
    height: 380px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .poster-wrapper {
    height: 280px;
  }
}

